<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
            
    
            
            <div class="top-logo">
                <a href="/home"><img  src="img/logo-mercado-liebre.svg"alt=""></a>
                <div class="buscador">
                <div class="nose"><input class="input" type="text" placeholder="Barra de busqueda"><button class="lupa"><i class="fa fa-search"></i></button></input></div>
            </div><p class="compra-en-cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p></div>
           <nav class="navegador">
                   <ul>
                      <li><a href="#">Ofertas</a></li>
                      <li><a href="#">Tiendas Oficiales</a></li>
                      <li><a href="#">Vender</a></li>
                      <li><a href="#">Ayuda</a></li>
                   </ul>
                   <ul>
                       <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                       <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                       <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></a></i></li>
                   </ul>
              </nav>
             <div class="burger-menu"><i class="fa fa-bars burger"></i></div>
</header>
<img  class="img-banner" src="img/img-home-banner.jpg" alt="img-banner">
<main>
 
    <section class="section-1">        <h3 class="h1">Basado en tu ultima visita</h3>
     <div class="flex">
        <article>
                <img src="img/teclado.jpg" alt="prod">
                    <div class="info-article">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios-1">$65.770</p>
                    
                    <h4 class="nombre-productos">Teclado Logitech</h4></div>
            </article>
            <article>
                <img src="img/remera.jpg" alt="prod">
                    <div class="info-article">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios-1">$5.800</p>
                    
                    <h4 class="nombre-productos">Remera Vans</h4></div>
            </article>
           <article>
                <img src="img/botines.jpg" alt="prod">
                    <div class="info-article">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios-1">$50.000</p>
                   
                    <h4 class="nombre-productos">Botines Nike Mercurial</h4></div>
                </article>
           <article>
                    <img src="img/auriculares.jpeg" alt="prod">
                    <div class="info-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios-1">$40.500</p>
                    
                    <h4 class="nombre-productos">Auriculares Aircross</h4></div>
              </article>
              <article>
                <img src="img/af3.jpg" alt="prod">
                <div class="info-article">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios-1">$50.500</p>
                
                <h4 class="nombre-productos">Zapatillas Air Force One</h4></div>
          </article>
            <article>
                <img src="img/gabinete.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios-1">$23.200</p>
                    
                    <h4 class="nombre-productos">Gabinete Jalatec Gamer</h4></div>
           </article>
        </div>
     </section>
     
     <section class="section-ofertas">
        <h3 class="h1">Seccion De Ofertas</h3>
    <div class="flex"> 
        <article>
                <img src="img/img-cafetera-moulinex.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$6.770</p>
                     <p class="descuentos">40% OFF</p>
                     <h4 class="nombre-productos">Cafetera Moulinex</h4></div>
                </article>
            <article>
                
                     <img src="img/img-macbook-pro-2019.jpg" alt="prod">
                     <div class="info-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$230.000</p>
                     <p class="descuentos">20% OFF</p>
                     <h4 class="nombre-productos">Macbook Pro 2019</h4></div>
                </article>
            <article>
                <img src="img/img-samsung-galaxy-s10.jpg" alt="prod">
                     <div class="info-article"> 
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$70.500</p>
                     <p class="descuentos">10% off</p>
                     <h4 class="nombre-productos">Samsung Galaxy S10</h4></div>
                
             </article>
             <article>
                <img src="img/img-tv-samsung-smart.jpg" alt="prod">
                     <div class="info-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$23.200</p>
                     <p class="descuentos">5% off</p>
                     <h4 class="nombre-productos">SmartTv Samsung 43"</h4></div>
            </article>
            <article>
                <img src="img/microondas.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$110.000</p>
                     <p class="descuentos">10% OFF</p>
                     <h4 class="nombre-productos">Microondas</h4></div>
                </article>
                <article>
                    <img src="img/notebook.jpg" alt="prod">
                        <div class="info-article">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$200.000</p>
                         <p class="descuentos">25% OFF</p>
                         <h4 class="nombre-productos">Nootbook Lenovo</h4></div>
                    </article>
                    <article>
                        <img src="img/horno.jpg" alt="prod">
                            <div class="info-article">
                                <i class="fa-solid fa-truck"></i>
                                <p class="precios">$90.000</p>
                             <p class="descuentos">15% OFF</p>
                             <h4 class="nombre-productos">Horno Electrico</h4></div>
                        </article>
                    </div>
                    </section>
        
</main>
<footer>
       <div class="footer"> 
        <div>
            <i class="fa-solid fa-credit-card"></i> 
            <h6>Pagá con tarjeta o en efectivo</h6>
             <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fa-solid fa-gift"></i>
            <h6>Envío gratis desde $ 2.500</h6>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
       </div>
       <div>
        
        <i class="fa-solid fa-user-shield"></i>
       <h6>Seguridad, de principio a fin</h6>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
    </div> 
        <div>
        <h6>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </div>
     
</footer>
</body>
</html>