<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
            
    
            
            <div class="top-logo">
                <a href="/home"><img  src="img/logo-mercado-liebre.svg"alt=""></a>
                <div class="buscador">
                    <div class="nose"><input class="input" type="text" placeholder="Barra de busqueda"><button class="lupa"><i class="fa fa-search"></i></button></input></div>
            </div><p class="compra-en-cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p></div>
           <nav class="navegador">
                   <ul>
                      <li><a href="#">Ofertas</a></li>
                      <li><a href="#">Tiendas Oficiales</a></li>
                      <li><a href="#">Vender</a></li>
                      <li><a href="#">Ayuda</a></li>
                   </ul>
                   <ul>
                       <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                       <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                       <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></a></i></li>
                   </ul>
              </nav>
             <div class="burger-menu"><i class="fa fa-bars burger"></i></div>
</header>
<main>
 <main class="login">
    <div ><h3>Nombre completo:</h3><input class="text-field" type="text" name="Nombre completo" placeholder="Nombre y Apellido"></div>
<div><h3>Contraseña:</h3><input class="text-field" type="password" name="confirmar contra" placeholder="confirmar contra"></div>
    <button type="submit" class="botonForm botonSumbit">Enviar</button>
 </main>       
</main>
<footer>
    <footer>
    <div class="footer">  <div>
            <i class="fa-solid fa-credit-card"></i> 
            <h6>Pagá con tarjeta o en efectivo</h6>
             <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fa-solid fa-gift"></i>
            <h6>Envío gratis desde $ 2.500</h6>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
       </div>
       <div>
        
        <i class="fa-solid fa-user-shield"></i>
       <h6>Seguridad, de principio a fin</h6>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
    </div>  
        <div>
        <h6>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </div>
         
</footer>
</body>
</html>